<%/*
    File name: COMP308-W2019-Assignment01
    Author's name: Semy Jin
    Student ID: 300910535
    Web app name: Express Portfolio
    Github repository link: 
    Heroku link: 
  */%>
  
<% include ./partials/header.ejs %>
<div class="stars">
  <div class="container text-center" style="padding: 5%">
    <div class="jumbotron">
      <h1 class="display-4">About Me</h1>
      <hr class="my-4">
      <div class="polaroid">
        <h3 style="text-align: center; padding: 10 px">
          Semy Jin
        </h3>
        <img src="../Assets/images/image.jpg" alt="image of self" style="width:100%">
      </div>
        <br />
        <h5 style="text-align: left">
          I am a graduate with High Honors from Centennial College’s Software Engineering Technology Program. 
          I also have an honors Bachelor of Science Degree from the University of Toronto. 
          My strongest programming skills are C#, SQL, Java, and JavaScript, which make me adaptable to many development roles, 
          including that of a Systems Support Developer. 
          <br /><br />
          I’ve worked at PH Solutions as an ETL developer on key contracts with RBC and CIBC for SQL database-focused tasks. 
          I am enthusiastic about education, which is why I have worked as a tutor for over 3 years and am currently 
          working as a peer tutor at Centennial College Learning Centre. In both of these positions, I’ve consistently earned 
          outstanding work evaluations from my supervisors, reflecting my great work ethic. 
          I also have excellent communication and problem-solving skills, which will allow me to excel in both independent and 
          team-based environments.
        </h5>
      <br />  
      <a id="link-center" class="btn btn-dark btn-lg" href="../Assets/documents/resume.pdf" role="button">
        <i class="fa fa-lg fa-black-tie"></i> View My Resume
      </a>  
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>