<%/*
    File name: COMP308-W2019-Assignment01
    Author's name: Semy Jin
    Student ID: 300910535
    Web app name: Express Portfolio
    Github repository link: https://github.com/sjtype/COMP308-W2019-Assignment01-300910535
    Heroku link: 
  */%>
  
<% include ./partials/header.ejs %>
<div class="stars">
  <div class="container text-center" style="padding: 5%">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <hr class="my-4">
        <table class="table table-bordered table-striped table-hover">
          <!-- Puckager -->
          <tr>
            <td class="text-center">
              <h3>
                Puckager
              </h3>
              <img src="../Assets/Images/puckager.png" alt="Puckager screenshot" style="width: 400px">
            </td>
            <td class="text-left" style="vertical-align: middle">
              This web app was designed to help hockey coaches in organizing potential recruits for their team.
              It allows users to add, update, and remove recruit info, in addition to organizing schedules and monitoring social media related to the recruits. 
              <br />
              <b>Role:</b> Business Analyst, Designer, and Tester
            </td>
          </tr>
          <!-- Orderista -->
          <tr>
            <td class="text-center">
              <h3>
                Orderista
              </h3>
              <img src="../Assets/Images/orderista.png" alt="Puckager screenshot" style="width: 400px">
            </td>
            <td class="text-left" style="vertical-align: middle">
              This web app is an online food ordering service, which was designed with the idea of improving 
              available food options for Centennial College students.
              It includes features like registration and payment to mimic real-world applications available today.
              <br />
              <b>Role:</b> Business Analyst, Designer, and Tester
            </td>
          </tr>
          <!-- Android Animation App -->
          <tr>
            <td class="text-center">
              <h3>
                Mobile Animation App for Android
              </h3>
              <img src="../Assets/Images/androidApp.png" alt="screenshot of Mobile Animation App for Android" style=" width: 200px">
            </td>
            <td class="text-left" style="vertical-align: middle">
              This mobile application has several demonstrations that allow the user to view various animation options.
              The image on the left shows one demonstration that allows the user to draw on the screen with choices for line color, width, direction, and location.
              <br />
              <b>Role:</b> Software Developer and Tester
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>