<%/*
    File name: COMP308-W2019-Assignment01
    Author's name: Semy Jin
    Student ID: 300910535
    Web app name: Express Portfolio
    Github repository link: 
    Heroku link: 
  */%>
  
<% include ./partials/header.ejs %>

<div class="stars">
  <div class="container text-center" style="padding: 5%">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <hr class="my-4">
        <h3>
          My main programming strengths are as follows:
        </h3>
        <hr class="my-4">
        <table style="margin-left: auto; margin-right: auto;">
          <tr>
            <td>
              <img src="../Assets/images/cSharp.png" alt="C# logo" style=" width: 150px">
            </td>
            <td>
              <img src="../Assets/images/aspNet.png" alt="ASP.NET logo" style=" width: 150px">
            </td>
            <td>
              <img src="../Assets/images/sql.png" alt="SQL logo" style=" width: 150px">
            </td>
            <td>
              <img src="../Assets/images/java.png" alt="Java logo" style=" width: 150px">
            </td>
            <td>
              <img src="../Assets/images/htmlJsCss.png" alt="HTML JS CSS logo" style=" width: 150px">
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>